.SearchResults {
  max-height: 300px;
  width: 480px;
  max-width: 100%;
  overflow-y: scroll;
  padding: 2rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
