.PlaylistItem {
    // display: flex;
    // flex-grow: 2;
    text-align: left;
    // align-items: center;
    // justify-content: center;
    margin: .5rem 0;
    border-bottom: 1px dotted rgba(256, 256, 256, 0.8);
    h3 {
      &:hover {
        cursor: pointer;
        color: purple;
      }
    }
  }